.card {
  max-width: 300px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card__image {
  display: flex;
  overflow: hidden;
  /* border: 1px solid #000; */
}
.card img {
  margin: auto;
  width: auto;
  height: 200px;
}

.card__content {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content p {
  margin: 0;
  padding: 0;
}