.button {
  padding: 7px 15px;
  background-color: rgba(124, 218, 247, 0.7);
  font-size: 14px;
  border: 1px solid rgba(124, 218, 247);
  cursor: pointer;
}

.button:hover {
  padding: 7px 15px;
  background-color: rgba(124, 218, 247);
  font-size: 14px;
  border: 1px solid rgba(124, 218, 247);
  cursor: pointer;
}