.header {
  padding: 20px;
  display: flex;
  background-color: green;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  list-style: none;
}

.header__nav li {
  padding-right: 20px;
}

.header__nav li:last-child {
  padding-right: 0;
}

.header__basket img{
  width: 50px;
}